@model Web.Models.BookingFullVM
@{
    ViewBag.Title = "BookingSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Booking gennemført</h1>
<p>Her kan du se en oversigt over dine booking informationer</p>
<div>
    <p>
        Navn: @Model.FirstName + " " + @Model.LastName
        Tlf: @Model.Phone
        Beskrivelse: @Model.Description
    </p>
</div>

    