@model Web.Models.BookingVM
@{
    ViewBag.Title = "Book en supporter";
}
<h1>@ViewBag.Title</h1>


<h3>1. Vælg butik</h3>

<select class="dropdown">
    @foreach (var department in Model.Departments)
    { <option value="@department.Id">@department.Name</option>}
    
</select>

<button type="button">Vælg Butik</button>




