@{
    ViewBag.Title = "FinalizeBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bookinginformationer</h2>

<h4>Udfyld nedenstående felter</h4>

<div class="container">
    <form action="~/home/InformationCollection" method="post">
        <label for="fname">Fornavn</label><br />
        <input type="text" id="fname" name="firstName" placeholder="Fornavn"><br />
        <br />
        <label for="lname">Efternavn</label><br />
        <input type="text" id="lname" name="lastName" placeholder="Efternavn"><br />
        <br />
        <label for="phone">Telefon nr.</label><br />
        <input type="text" id="phone" name="phone" placeholder="Telefon nr."><br />
        <br />
        <label for="subject">Beskrivelse</label> <br />
        <textarea id="subject" name="description" placeholder="Beskrivelse af problemet" style="height:200px"></textarea><br />
        <br />
        <input type="submit" value="Indsend">

        
        
    </form>
</div>
