@{
    ViewBag.Title = "FinalizeBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bookinginformationer</h2>

<h4>Udfyld nedenstående felter</h4>

<form action="/home/">

    Fornavn: <input type="text" name="FirstName" value="" /><br />
    Efternavn: <input type="text" name="LastName" value="" /><br />
    Telefon: <input type="number" name="Phone" value="" /><br />
    Beskrivelse af problem: <textarea rows="8" cols="100" placeholder="beskrivelse her">
</textarea>

</form>