@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Elgiganten</h1>
    <p class="lead">Hos elgiganten kan du booke tid til service af dine devices</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Book tid her &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Information</h2>
        
        <p>
            kontakt
        </p>
        <p>
            yderlige informationer
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Se mere &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Priser</h2>

            <ul id="Pris">
                <li><a href="side1.htm">computer</a></li>
                <li><a href="side2.htm">mobil</a></li>
                <li><a href="side3.htm">tablet</a></li>
                <li><a href="side3.htm">tv</a></li>
               
            </ul>
                          
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Book tid her &raquo;</a></p>
        </div>
        </div>

