@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Book en supporter</h1>
    <p class="lead">På denne side kan du booke en tid til support i din lokale Elgigant. En af vores dygtige supportere vil herefter stå klar til at hjælpe dig med dit problem, lige præcis når det passer dig.</p>
    <p><a href="http://localhost:51170/Home/SelectDepartment" class="btn btn-primary btn-lg">Opret Booking &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Serviceaftaler</h2>
        <ul>
            <li><a href="linknavn">1 årig serviceaftale</a></li>
            <li><a href="linknavn">3 årig serviceaftale</a></li>
            <li><a href="linknavn">5 årig serviceaftale</a></li>
           
        </ul>
        
    </div>
    <div class="col-md-4">
        <h2>Information</h2>
        <p>
            <a href="linknavn">Priser og tider</a>
        </p>
    </div>
    
</div>