@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kundeservice Support<br />
    (+45)70 80 70 70 (Tast 1)<br />
    
        <p class="adress-header">Åbningstider:</p>
        <p>Man-tors: 8.30-20</p>
        <p>Fredag: 8.30-19</p>
        <p>Lør-søn: 9.30-17</p>
    

</address>

<address>
    <strong>Support:</strong>   <a href="https://www.elgiganten.dk/cms/20140123_121943/kundeservice?intcid=INT_FP_TOPLINK1">Elgigantens online kundeservice</a><br />
</address>