@model Web.Models.BookingSpecificDayListVM
@{
    ViewBag.Title = "SelectDate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vælg Dato</h2>

<form action="~/home/SelectDate" method="post">
    <input type="hidden" name="userId" value="@ViewBag.CurrentId" />
    Dato:
    <input type="date" name="date" />
    <button>Find ledige tider</button>
</form>

@if(ViewBag.HasClicked != null && ViewBag.HasClicked == true)
{


<h2>Ledige tider</h2>

if (Model.Bookings != null && Model.Bookings.Count() == 0)
{
    <p>Der er ingen bookings</p>
}
<div>
    @foreach (var booking in Model.Bookings)
    {
        <p>
         Optaget tid: @booking.StartDate - @booking.EndDate
        </p>
    }
</div>
}
