@{
    ViewBag.Title = "SelectDate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vælg Dato</h2>

<form action="~/home/SelectDate" method="post">
    <input type="hidden" name="userId" value="@ViewBag.CurrentId" />
    Dato:
    <input type="date" name="date" />
    <button>Find ledige tider</button>
</form>

<h2>Ledige tider</h2>

@*<div>
    @foreach (var department in Model.Departments)
    {
        <p>
            @Html.ActionLink(department.Name, "FinalizeBooking", "Home", new { id = department.Id }, null)
        </p>
    }
</div>*@

