@model Web.Models.SupporterListVM
@{
    ViewBag.Title = "SelectEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vælg Medarbejder</h2>

<div>

    @foreach (var supporter in Model.Supporters)
    {
        <p>
           @Html.ActionLink(supporter.FirstName + supporter.LastName, "SelectDate", "Home", new { id = supporter.Id }, null)
        </p>

    }


</div>
